<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        
        <h2>Jordon's Timestamp API</h2>
        <h3>Example Usage:</h3>
        <h5>Must use format: "YYYY-MM-DD"</h5>
        <ul>
          <li>
            <code>GET [project url]/2015-12-25</code></li>
        </ul>
        
        <p>If todays date is entered, API will return current time of day</p>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      
   </body>

</html>
